h1{
    color: rgb(220, 13, 13);
    font-size: 50px;
}
p.sun{
    color: rgb(189, 8, 93);
    font-size: 30px;
}
a{
    color: rgb(5, 101, 101);
    font-size: 20px;
}

h2{
    color: rgb(10, 65, 3);
    font-size: 50px;
}
p.sun1{
    color: rgb(4, 233, 0);
    font-size: 30px;
}
 

h2.sun2{
    color: blue;
    font-size: 50px;
}
p.sun3{
    color: rgb(2, 2, 103);
    font-size: 30px;
}
div{
    background-color: rgb(200, 236, 127);
    width: 300px;
    padding: 50px 200px;
    margin: 50px auto; 
    border: 3px solid rgb(193, 16, 25);  
}
span{
    color: rgb(16, 15, 14);
    font-size: 40px;
}